<link href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
<div class="hero-image inner-container">
  <div style="text-align: center;">
    <h1>
      Welcome to the Home of Lofi-Music
    </h1>
    <h3> Sit back and enjoy our library chilled beats</h3>
    <button class="btn material-icons" style="width:120px; font-size:40px;">play_circle_outline</button>
  </div>
</div>
<div>
  <h1 class="spacing"style="color:black;">
    Take your mind back to THAT Season...
  </h1>
</div>
<div class="logo-container" style="background-color:black">
  <img src="/assets/Icons/Spotify_Logo_CMYK_White.png" class="spacing, logo" />
</div>
<div class="flex-container" style="color:black">

  <div class="spring-2019-container">
    <img src="/assets/img/Chillhop Album Spring 2019.jpg" class="spacing" style="height:300px;" />
    <h3> Spring </h3>
  </div>

  <div class="summer-2019-container">
    <img class="spacing" src="/assets/img/Chillhop Album Summer 2019.jpg" style="height:300px;" />
    <h3> Summer </h3>
  </div>

  <div class="fall-2019-container">
    <img src="/assets/img/Chillhop Album Fall 2019.jpg" class="spacing" style="height:300px;" />
    <h3> Fall </h3>
  </div>

  <div class="winter-2019-container">
    <img src="/assets/img/Chillhop Album Winter 2019.jpg" class="spacing" style="height:300px;" />
    <h3> Winter </h3>
  </div>
</div>

<div>
  <h3 class="spacing" style="color:black">Listen to more chilled tunes on</h3>
</div>

<div class="flex-container" style="background-color:black">
  <div class="logo-container">
  </div>
</div>
