<link href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
<div class="hero-image inner-container">
  <div style="text-align: center;">
    <h1>
      Welcome to the Home of Lofi-Music
    </h1>
    <h3> Sit back and enjoy our library chilled beats</h3>
    <button class="btn material-icons" style="width:120px; font-size:40px;">play_circle_outline</button>
  </div>
</div>
<div>
  <h1 class="spacing"style="color:black;">
    Take your mind back to THAT Season...
  </h1>
</div>
<div class="flex-container">

  <div class="winter-2019-container">
    <img src="/assets/img/Chillhop Album Winter 2019.jpg" style="height:300px;" />
    <img src="/assets/Icons/Spotify_Icon_CMYK_White.png" style="height:70px;" />
  </div>
  <div class="fall-2019-container">
    <img src="/assets/img/Chillhop Album Fall 2019.jpg" style="height:300px;" />
    <img src="/assets/Icons/Spotify_Icon_CMYK_White.png" style="height:70px;" />
  </div>
  <div class="spring-2019-container">
    <img src="/assets/img/Chillhop Album Spring 2019.jpg" style="height:300px;" />
    <img src="/assets/Icons/Spotify_Icon_CMYK_White.png" style="height:70px;" />
  </div>

</div>
