.jumbotron {
  color: white;
  background-image: url("https://static.sneakerdistrict.com/images2/Nike-Womens-Air-Force-1-Shadow-White-Total-Orange-21-1600.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

