<header>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white">
    <div class="flex-container">
      <ul class="navbar-nav flex-grow">
        <li class="nav-item">
          <span class="material-icons" style="margin-top:25px; font-size:50px">
            menu
          </span>
        </li>
      </ul>

      <div>
        <a class="navbar-brand" [routerLink]="['/']"><img src="assets/Icons/Chillhop-icon-white.png" style="height: 100px;" /></a>
      </div>
      <ul class="navbar-nav flex-grow">
        <li class="nav-item">
          <form action="">
            <input type="search">
            <i class="fa fa-search"></i>
          </form>
        </li>
      </ul>

     

      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
       [ngClass]="{ show: isExpanded }">
  </div>-->

    </div>
  </nav>
</header>
