a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
}

.menu-placement {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
}

.brand-placement {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.inner-menu-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width:100%
}

.inner-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-family: 'Amatic SC', cursive;
  color:white;
  font-size: 50px;
}
.bg-black{
    background-color:black;
}

.bg-white {
  background-color: white;
}

.bg-img {
  filter: blur(4px);
  -webkit-filter: blur(4px);
  filter: brightness(50%);
  -webkit-filter: blur(4px);
  width: 100%;
}


form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: black;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 1px solid black;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
  background-color: white;
  transition: all 1s;
}

.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;

}

form:hover {
  width: 300px;
  cursor: pointer;
}

  form:hover input {
    display: block;
  }

  form:hover .fa {
    color: dodgerblue;
  }
